@use "../../index";
// Signature font
@font-face {
    font-family: Signature;
    src: url("../../fonts/the_King__26_Queen_font.ttf");
}


#logo
{
    user-select: none;
    cursor: pointer;
    transition: all 0.2s ease-in;
    color: index.$text-color;
    text-decoration: none;

    // Hide if phone
    @media (max-width: map-get(index.$screen-width, "tablet"))
    {
        display: none;
    }
}

#signature
{
    font-family: Signature;
    font-size: 20px;
}

#logo:hover
{
    color: index.$primary;
}

