
@use "../../index";
@use "../../animations";

#loading-screen
{
  animation: animations.$fade-in;
}

#loader 
{
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid map-get(index.$color-scheme, "primary");
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

main
{
}

.webpage > *
{
  animation: animations.$fade-in;
}

@keyframes spin 
{
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@-webkit-keyframes spin 
{
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@-o-keyframes spin 
{
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}